<!doctype html>
<html lang="en">

<head>
  <title>DogGPT - make you content funny</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- custom css -->
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
  <div class="row m-4">
    <div class="col-3">
        <div class="up">
            <div class="btn btn-outline-dark">+ New chat</div>
        </div>
        <div class="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus, accusantium esse, libero tenetur debitis eaque culpa aspernatur, natus doloribus exercitationem nemo atque reprehenderit harum inventore porro magni sed quam?</div>
    </div>
    <div class="col-9 mt-5 pt-5">
      <!--
        <div class="logo mb-5 text-center">
            <p class=" fs-2 fw-bold">SadGPT</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p class=" text-center">Examples</p>
                <button class="btn btn-outline-dark m-2">Explain quantum computing in simple terms</button>
                <button class="btn btn-outline-dark m-2">Got any creative ideas for a 10 year old’s birthday?
                </button>
                <button class="btn btn-outline-dark m-2">How do I make an HTTP request in Javascript?</button>
            </div>
            <div class="col-lg-4">
                <p class=" text-center">Capabilities</p>
                <button class="btn btn-outline-dark m-2">Explain quantum computing in simple terms</button>
                <button class="btn btn-outline-dark m-2">Got any creative ideas for a 10 year old’s birthday?
                </button>
                <button class="btn btn-outline-dark m-2">How do I make an HTTP request in Javascript?</button>

            </div>
            <div class="col-lg-4">
                <p class=" text-center">Limitations</p>
                <button class="btn btn-outline-dark m-2">Explain quantum computing in simple terms</button>
                <button class="btn btn-outline-dark m-2">Got any creative ideas for a 10 year old’s birthday?
                </button>
                <button class="btn btn-outline-dark m-2">How do I make an HTTP request in Javascript?

                </button>

            </div>
        </div>
        -->
        <div class="bg" id="bg">
          <p class="sender">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam sint culpa quidem quod exercitationem fuga delectus cupiditate officia atque praesentium, quas enim voluptatem nesciunt recusandae earum animi ipsam maiores?</p>
          <p class="receiver">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque totam sint culpa quidem quod exercitationem fuga delectus cupiditate officia atque praesentium, quas enim voluptatem nesciunt recusandae earum animi ipsam maiores?</p>

        </div>
        <div class=" fixed-bottom row m-2">
            <div class="col-3">
                
            </div>
            <div class="col-9">
                <form id ="message-form" action="" class=" form-control" >
                  {% csrf_token %}
                    <input  class="chat-input" type="text" style="width: 92%;" id="message-input">
                    <button class="btn btn-dark">submit</button>
                </form>
            </div>

            
        </div>

          
    </div>
  </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <script src="../static/js/scripts.js"></script>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>